* {
 margin: 0;
 padding: 0;    
}

:root {
    --validation-color: rgb(54, 153, 54);
    --container-background: rgb(19,19,19);
    --input-active: rgba(40, 191, 241, 0.747);
    --white: rgb(255,255,255);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    background-color: rgba(5, 5, 5, 0.94);
}

main {
   display: flex;
   flex-direction: row-reverse;
   min-width: 100%;
}

main > section {
  flex: 1;
  display: flex;
}

/*For the image*/

 #img-container {
    width: 100%;
    height: 50rem;
    background-color: var(--container-background);
} 

 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}  

figcaption {
    width: 100%;
    background-color: var(--container-background);
    opacity: 0.8;
    color: rgb(0, 0, 229);
    text-align: center;
    font-size: xx-large;
    position: relative;
   bottom: 35rem;
    height: 8%;
}

/*For the form*/
#form-container {
    background-color: var(--container-background);
   height: 50rem;
}

.title {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1.8rem;
}


fieldset {
    border: 0 none;
    margin-top: 30px;
    width: 100%;
    padding: 2rem 0;
}




.container {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-between;
}

legend {
    margin-bottom: 15px;
    margin-left: 4.1rem;
}



/*Styling inputs*/

input {
    border: 2px solid var(--white);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    height: 1.8rem;
    border-radius: 8px;  
}

input:valid {
    border-color: var(--validation-color);
}


input:hover {
    border-color: var(--input-active);
}

input:focus {
    box-shadow: 0 4px rgba(40, 191, 241, 0.947);
}

.first-input {
    position: relative;
    right: 1.6rem;   
}

/*Styling labels*/

label {
   position: relative;
   bottom: 15px;
}

.first {
    position: relative;
    left: 6.2rem;
}

.second {
    position: relative;
    left: 6.9rem;
}

.third {
    position: relative;
    left: 8.7rem;
}


.email, .password, .first-label {
    position: relative;
    left: 4.7rem;
    
}


/*For submit section*/


button {
    padding: 0.5rem 1.9rem;
    border-radius: 8px;
    border-color: var(--validation-color);
    background-color: var(--validation-color);
    color: var(--white);
    margin-left: 4.1rem;
    margin-bottom: 0.5rem;
}

.submit > p {
    margin-left: 4.1rem;

}

button:hover {
    background-color: var(--white);
    color: var(--container-background);
}

button:active {
    box-shadow:  2px 2px var(--validation-color);
}

a {
  color: var(--validation-color);
}

a:hover {
    color: var(--white);
}

/*Styles for mobile devices*/


@media only screen and  (max-width: 736px) {

   main{
    display: flex;
    flex-direction: column;
    text-align: center;
   }

   #img-container {
    height: 50vh;
   }

   legend {
    margin-left: 4.1vw;
   }

   .container {
    display: flex;
    flex-direction: column;
    height: auto;
   }

   .container > label {
    position: static;
   }

   .container > input, .container > .first-input {
    justify-content: center;
    margin-left: 2rem;
    position: static;
   }

   figcaption { 
    position: relative;
    bottom: 20rem;
    border: 1px solid white;
   }

   button {
    margin-right: 2rem;
   }

}


